body{
    background-color: rgb(179, 218, 243)
}

#tarolo{
    background-color: rgb(12, 4, 85);
    color: rgb(59, 181, 238);
    width: 80%;/* iwdth mindig szászalék ! */
    max-width: 800px;
    margin: auto;/* a tárolo a böngézsö ettől lesz kozep */
    padding: 10p;
}
#menu a{
    text-decoration: none;
    color: rgb(23, 252, 240);
    background-color: rgb(238, 241, 34);
    border: 2px solid rgb(206, 52, 25);
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}
#menu a:hover{
    color: rgb(6, 221, 16);
    background-color: rgb(177, 3, 3);
}