body{
    background-color: rgb(179, 218, 243)
}

#tarolo{
    background-color: rgb(12, 4, 85);
    color: rgb(59, 181, 238);
    width: 80%;/* iwdth mindig szászalék ! */
    max-width: 800px;
    margin: auto;/* a tárolo a böngézsö ettől lesz kozep */
    padding: 10p;
}
#menu a{
    text-decoration: none;
    color: rgb(23, 252, 240);
    background-color: rgb(238, 241, 34);
    border: 2px solid rgb(182, 243, 132);
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}
#menu a:hover{
    color: rgb(55, 125, 255);
    background-color: rgb(236, 235, 217);
}
ol{
    color: rgb(38, 176, 240);
}
li{
    color: rgb(40, 151, 202);
    font-size: 23px;
}
p{
    margin: 10px;
   margin-bottom: auto;
   text-align: justify; 
   font-size: larger;
   font-family: 'Times New Roman', Times, serif;
}
#k1 {
    max-width: 250px;
    margin: auto;
    width: 70%;
}
#p3{
     margin: 10px;
   margin-bottom: auto;
   text-align: justify; 

}
#k3{
    max-width: 250px;
    margin: auto;
    width: 70%;
}
#k2{
    max-width:220px;
    margin: auto;
    width: 70%;
}