body{
    background-color: rgb(241, 205, 158);
}

#tarolo{
    background-color: rgb(117, 28, 28);
    color: rgb(248, 203, 148);
    width: 80%;/* iwdth mindig szászalék ! */
    max-width: 800px;
    margin: auto;/* a tárolo a böngézsö ettől lesz kozep */
    padding: 10p;
}
#menu a{
    text-decoration: none;
    color: darkgoldenrod;
    background-color: lightgreen;
    border: 2px solid greenyellow;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}
#menu a:hover{
    color: rgb(235, 235, 46);
    background-color: rgb(233, 89, 37);
}